.h1 {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 0.11em;
    margin-bottom: 0.3em;
    /* mix-blend-mode: exclusion; */ /*  would be cool to find a nice blend mode here */
}

.h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 32px;
    font-style: normal;
    letter-spacing: 0.21em;
    color: var(--raisin-black-base);
    text-align: right;
}
.testContainer {
    height: 100vh;
}

.title {
    color: var(--raisin-black-base);
    margin-left:40px;
    text-align: left;
    grid-column: span 12;
    padding: 200px 0;
}
@media (max-width: 1024px){
    .title{
        grid-column: span 8;
    }
}