.h1 {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 0.11em;
    /* grid-column: 1 / 4; */
    white-space: nowrap;
    margin-left: 60px;
    /* mix-blend-mode: exclusion; */ /*  would be cool to find a nice blend mode here */
}
.drive {
    grid-column: 1/4;
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 0.11em;
    /* white-space: nowrap; */
    margin-left: 60px;
}
.h2 {
    /* font-family: "IBM Plex Sans", sans-serif; */
    font-family: var(--font-plex-sans);
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 0.21em;
    color: hsla(var(--raisin-black-base), 0.6);
    text-align: left;
    grid-column: 1 / 6;
    margin-left: 60px;
    grid-row: 3 / 4;
}
.sectionHeaderLeft,
.sectionHeaderRight {
    grid-row: 5;
}
/* .sectionHeaderLeft */
.leftP {
    grid-column: 1/6;
    grid-row: 6;
}
.rightP {
    grid-column: 6/13;
    grid-row: 6;
}
.title {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 0.11em;
    grid-column: 1 / 4;
    white-space: nowrap;
    margin-left: 60px;
    margin-top: 200px;
}
.titleCard {
    margin-top: 200px;
    margin-bottom: 150px;
    display: contents;
}

.image {
    border-radius: 100%;
    width: 415px;
    height: 415px;
    background-color: hsla(var(--champagne-pink), 0.59);
    /* padding-top: 200px; */
    /* margin: 100px 50px; */
}
.imageContainer {
    background-color: hsla(var(--champagne-pink), 0.2);
    grid-column: 6 / 13;
    grid-row: 2/4;
    padding: 100px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageContainerTwo {
    background-color: hsla(var(--champagne-pink), 0.2);
    grid-column: 1 / 5;
    grid-row: 7/8;
    padding: 100px 50px 50px 100px;
    border-radius: 35px;
}
@media (max-width: 1024px) {
    .imageContainer {
        grid-row: 4/5;
        grid-column: 1/9;
        padding: 100px;
    }
    .h1 {
        grid-row: 5/6;
    }
    .sectionHeaderLeft {
        grid-row: 6;
    }
    .leftP {
        grid-column: 1/9;
        grid-row: 7;
    }

    .sectionHeaderRight {
        grid-row: 8;
    }
    .rightP {
        grid-column: 1/9;
        grid-row: 9;
    }
    .imageContainerTwo {
        grid-row: 10/11;
        grid-column: 1/9;
        padding: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
