.h1 {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 0.11em;
    /* grid-column: 1 / 4; */
    white-space: nowrap;
    margin-left: 60px;
    /* mix-blend-mode: exclusion; */ /*  would be cool to find a nice blend mode here */
}
.sectionHeader {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 0.11em;
    white-space: nowrap;
    margin-left: 60px;
}
.h2 {
    /* font-family: "IBM Plex Sans", sans-serif; */
    margin-top: 100px;
    font-family: var(--font-plex-sans);
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 0.21em;
    color: hsla(var(--raisin-black-base), 0.6);
    text-align: left;
    grid-column: 1 / 6;
    margin-left: 60px;
    grid-row: 2;
}
/* refactor begin */
.about {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

.part1,
.part2 {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;border-radius: 35px;
    background-color: hsla(var(--champagne-pink), 0.3);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px 0 hsla(var(--tropical-indigo), 0.7);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.fullSize {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    
}
.halfSize {
    padding: 2em;
}
.sectionHeader {
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.p {
    font-family: var(--font-plex-sans);
    font-size: 1.125em;
}
.pHead {
    font-size: 2em;
}

/* refactor end */

.title {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 0.11em;
    grid-column: 1 / 6;
    white-space: nowrap;
    margin-left: 60px;
    margin-top: 100px;
}
.titleCard {
    margin-top: 200px;
    margin-bottom: 150px;
    display: block;
    grid-row: 1;
    grid-column: 1/ 7;
}

.image {
    border-radius: 100%;
    width: 415px;
    height: 415px;
    background-color: hsla(var(--champagne-pink), 0.59);
    background-image: url("/pfp_1.webp");
    background-repeat: no-repeat;
    /* padding-top: 200px; */
    /* margin: 100px 50px; */
}
.imageContainer {
    box-shadow: 0 8px 32px 0 hsla(var(--tropical-indigo), 0.7);
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: hsla(var(--champagne-pink), 0.2);
    backdrop-filter: blur(15px);
    grid-column: 7 / 13;
    grid-row: 1/2;
    padding: 100px;
    border-radius: 35px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
.imageContainerTwo {
    background-color: hsla(var(--champagne-pink), 0.2);
    grid-column: 1 / 7;
    grid-row: 9;
    padding: 100px;
    border-radius: 35px;
}

@media (max-width: 1024px) {
    .fullSize, .about{
        flex-direction: column;
    }
}
