.post {
    display: contents;
}

.container {
    /* display: contents; */
    grid-column: 1 / 13;
    background-color: hsla(var(--champagne-pink), 0.34);
    backdrop-filter: blur(15px);
    border-radius: 45px;
    display: flex;

}
.description {
    grid-column: 2 / 9;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    padding: 20px 20px 20px 0px;
    font-size: 20px;
    line-height: 1.5;
    color: var(--raisin-black-base);
    margin-bottom: 200px;
}
.tabs {
    grid-column: 1/ 2;
    /* background-color: hsla(var(--champagne-pink), 0.34); */
    /* margin-right: -20px; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}
.tabs button {
    /* width: 100%; */
    white-space: nowrap;
    font-size: 20px;
    margin: 0.8em 0em 1em 0em;
    border: none;
    background-color: transparent;
    /* margin-right: 2em; */
    letter-spacing: 0.1em;
    transform: rotate(-90deg);
    /* writing-mode: vertical-rl; */
    transition: color 0.3s ease;
    color: hsla(var(--raisin-black-base), 0.5);
    width: 90%;
}
.tabs button:hover {
    color: var(--sandy-brown-base);
    /* background-color: hsla(var(--champagne-pink), 0.50); */
}
