.container {
    background-color: hsla(var(--champagne-pink), 0.60);
    backdrop-filter: blur(15px);
    grid-column-start: 4;
    grid-column-end: span 6;
    border-radius: 35px;
    padding: 1rem;
    box-shadow: 0 8px 32px 0 hsla(var(--tropical-indigo), 0.7);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.h1 {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 0.11em;
}
.title {
    color: var(--raisin-black-base);
    margin-left: 40px;
    text-align: left;
    grid-column: span 12;
    padding: 200px 0;
}
@media (max-width: 1024px) {
    .title {
        grid-column: span 8;
    }
    .container {
        grid-column-start: 2;
        grid-column-end: span 6;
    }
}
@media (max-width: 768px) {
  
    .container {
        grid-column-start: 1;
        grid-column-end: span 8 ;
    }
}
