.container {
    background-color: hsla(var(--champagne-pink), 0.34);
    backdrop-filter: blur(15px);
    /* width: 100px; */
    /* height: 100px; */
    grid-column: 2/8;
    border-radius: 35px;
    padding: 1rem;
}
.h1 {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 0.11em;
}
.title {
    color: var(--raisin-black-base);
    margin-left: 40px;
    text-align: left;
    grid-column: span 12;
    padding: 200px 0;
}
@media (max-width: 1024px) {
    .title {
        grid-column: span 8;
    }
}
