/* fonts */
/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap"); */
/* colours */
:root {
    /* CSS HEX */
    /* --champagne-pink: #fbdfcaff;
    --ultra-violet: #5c577aff;
    --sandy-brown: #f5974eff;
    --baby-powder: #f8f9f5ff;
    --raisin-black: #342e37ff; */

    /* CSS HSL */
    /* --champagne-pink: hsla(26, 86%, 89%, 1);
    --ultra-violet: hsla(249, 17%, 41%, 1);
    --sandy-brown: hsla(26, 89%, 63%, 1);
    --baby-powder: hsla(75, 25%, 97%, 1);
    --raisin-black: hsla(280, 9%, 20%, 1); */
    --champagne-pink: 26, 86%, 89%;
    --ultra-violet: 249, 17%, 41%;
    --sandy-brown: 26, 89%, 63%;
    --baby-powder: 75, 25%, 97%;
    --raisin-black: 280, 9%, 20%;

    /* Base colors without opacity */
    --champagne-pink-base: rgb(251, 224, 203);
    --ultra-violet-base: hsl(249, 17%, 41%);
    --sandy-brown-base: hsl(26, 89%, 63%);
    --baby-powder-base: hsl(75, 25%, 97%);
    --raisin-black-base: hsl(280, 9%, 20%);

    background-color: var(--baby-powder-base);
    --active-tab-color: hsla(var(--champagne-pink), 0.8);

/* threejs color */
    --tropical-indigo: 245, 34%, 66%;
    --tropical-indigo-base: hsl(245, 34%, 66%);

    /* --active-tab-color:purple; */
}
/* Header */
header {
    width: calc(100% - 80px);
    /* max-width: 1280px; */
    /* width: inherit; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
    z-index: 100;
    padding: 20px;
    background-color: hsla(var(--champagne-pink), 0.3);
    backdrop-filter: blur(30px);
    border-radius: 0 0 35px 35px;
    color: var(--raisin-black-base);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    box-shadow: 0 8px 32px 0 hsla(var(--tropical-indigo), 0.7);
    border: 1px solid rgba(255, 255, 255, 0.18);
    /* position: fixed;
    top: 0; */
}
.main-nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav ul li {
    margin: 0 10px;
}
a {
    color: var(--raisin-black-base);
    transition: color 0.3s ease;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    filter: drop-shadow(13px 2px 17px #fbe0cb);
    --webkit-text-stroke: 2px var(--ultra-violet);
}
a:visited,
a:link {
    color: var(--raisin-black-base);
}
a:hover {
    color: var(--sandy-brown-base);
}

.mobile-nav {
    position: fixed; /* Or absolute, but fixed is generally better for full-screen */
    top: 0;
    left: -10%;
    width: 110lvw; /* Full width */
    height: 100vh; /* Full height */
    z-index: 1000; /* Ensure it's above other content */
    display: none; /* Hidden by default */
    /* Add your background, padding, etc., below */
    background-color: rgba(108, 108, 108, 0.8); /* Example background */
    /* overflow-y: auto; Allows scrolling within the header if needed */
    overflow: clip;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(30px);
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: repeat(3, 1fr);
    /* transition: all 0.5s ease-in-out; */
}
.mobile-nav .icon {
    grid-row: 1;
    grid-column: 3;
    font-size: 2rem;
    width: fit-content;
    background: none;
    justify-self: center;
    transition: all 0.5s ease-in-out;
    color:var(--raisin-black-base);
    /* margin-right: 5rem; */
}
.mobile-nav .icon:hover {
    color: var(--sandy-brown-base);
}

.mobile-nav ul {
    grid-row: 2;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
}
.mobile-nav ul li a {
    color: var(--sandy-brown-base);
    padding: 1rem;
    border: solid 1px var(--sandy-brown-base);
    font-size: 4rem;
}
/* .mobile-nav ul li {
    margin: 3rem 1rem;
} */
.mobile-nav ul li a:visited,
mobile-nav ul li a:link {
    color: var(--sandy-brown-base);
}
.mobile-nav ul li a:hover {
    color: var(--raisin-black-base);
}
.homeIcon {
    width: 24px;
}
.toggle {
    display: none;
}

.bars {
    /* display: none; */
    color: var(--raisin-black-base);
    transition: color 0.3s ease;
}
.bars:hover {
    color: var(--sandy-brown-base);
}
.close {
    display: none;
}

/* header modal right */

/* footer*/

footer {
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
    bottom: 0;
    grid-column: 1 / 13;
    padding: 20px;
    margin-top: 200px;
    background-color: hsla(var(--champagne-pink), 0.31);
    backdrop-filter: blur(30px);
    border-radius: 35px 35px 0 0;
    color: var(--raisin-black-base);
    box-shadow: 0 8px 32px 0 hsla(var(--tropical-indigo), 0.7);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

footer .links {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
footer h2 {
    /* font-family: var(--font-plex-sans); */
    font-size: 24px;
    font-weight: 500;
    /* letter-spacing: 0.21em; */
    color: hsla(var(--raisin-black-base), 0.6);
    text-align: center;
    margin: 1rem;
    text-decoration: underline;
}
footer a {
    padding: 2rem;
}
footer a:hover {
    color: var(--sandy-brown-base);
}

footer .phone {
    cursor: pointer;
    transition: opacity 0.5s ease-in-out; /* Smooth transition for the opacity */
}

.animated {
    opacity: 1;
}

.animated:hover {
    opacity: 0.7; /* Example of an interaction effect */
}

html {
    /* width: 100dvw;
     height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden; */
    font-family: var(--font-sometype);
}
.hidden {
    display: none;
}
/* Body */
body {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
/* body::before{
    transform: rotate(90deg);
} */
main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    width: calc(100% - 40px);
    scroll-snap-type: y mandatory;
}

/* canvas */
.bg-three {
    width: 100%;
    height: 100%;
    /* grid-column: 1/13; */
    margin: 0 auto;
    z-index: -100;
    position: fixed;
    left: 0;
    top: 0;
}

/* media queries */

/* For tablets and below (less than 768px) */
@media (max-width: 768px) {
    main {
        grid-template-columns: repeat(8, 1fr); /* Simplify grid for tablet */
    }
    /* nav to mobile nav */
    .main-nav {
        display: none;
    }

    .main-nav ul {
        flex-direction: column;
    }
    .mobile-nav {
        display: none;
    }
    /* .toggle {
        display: block;
    } */

    .active {
        display: grid;
    }
    /*
    .close {
        display: block;
    } */
    .active ul li {
        margin-bottom: 15px;
    }
    footer .links {
        flex-direction: column;
        margin: 0;
    }
    footer .links a {
        padding: 10px;
    }
}

/* For small smartphones (less than 480px) */
@media (max-width: 480px) {
    main {
        grid-template-columns: repeat(
            4,
            1fr
        ); /* Simplify grid further for small smartphones */
        margin: 0 20px; /* Optional: Adjust margins for smaller screens */
    }

}
@media (max-width: 1024px) {
    main {
        grid-template-columns: repeat(8, 1fr);
    }
    header {
        grid-column: 1 / 9;
    }
    footer {
        grid-column: 1 / 9;
    }
}
@media (min-width: 1280px) {
    main {
        min-width: 1280px;
    }
}
