.h1 {
    color: var(--raisin-black-base);
    grid-column: 6/ 12;
    font-weight: 700;
    letter-spacing: 0.11em;
    font-size: 72px;

    text-align: right;
}
.h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 32px;
    font-style: normal;
    letter-spacing: 0.2em;
    color: var(--raisin-black-base);
    grid-column: 6 / 12;
    text-align: right;
}
.landing {
    background-color: hsla(var(--champagne-pink), 0.34);
    backdrop-filter: blur(30px);
    margin-top: 150px;
    padding: 4em;
    /* width: 100%; */
    /* height: 800px; */
    display: inline-flex;

    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    grid-column: 1/ 13;
    text-align: end;
    border-radius: 45px;
}
.landingText {
}
.landingImage {
}
.image {
    border-radius: 100%;
    width: 415px;
    height: 415px;
    background-color: hsla(var(--champagne-pink), 0.59);
}
