.h1 {
    color: var(--raisin-black-base);
    grid-column: 6/ 12;
    font-weight: 700;
    letter-spacing: 0.11em;
    font-size: 72px;

    text-align: right;
}
.h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 32px;
    font-style: normal;
    letter-spacing: 0.2em;
    color: var(--raisin-black-base);
    grid-column: 6 / 12;
    text-align: right;
    white-space: nowrap;
}
.landing {
    background-color: hsla(var(--champagne-pink), 0.34);
    backdrop-filter: blur(15px);
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 4em;
    /* width: 100%; */
    /* height: 800px; */
    display: flex;
    /* border: 5px solid hsla(var(--champagne-pink),0.3); */

    border-radius: 15px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    grid-column: 1/ 13;
    text-align: end;

    /* box-shadow: 0 0 20px 10px hsla(var(--ultra-violet-base),0.6); */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
/* .landingText {
}
.landingImage {
} */
.image {
    border-radius: 100%;
    width: 415px;
    height: 415px;
    background-color: hsla(var(--champagne-pink), 0.59);
    scroll-snap-align: center;
    backdrop-filter: blur(15px);

    margin-bottom: 100px;
}
.spacer {
    padding-bottom: 200px;
}

@media (max-width: 1024px) {
    .landing {
        grid-column: 1/9;
        flex-direction: column;
        align-items: center;
    }

    /* .h1, .h2 {

        grid-column: 1/9;
        grid-row:2;
    } */
}
