.h1 {
    color: var(--raisin-black-base);
    grid-column: 6/ 12;
    font-weight: 700;
    font-size: 70px;
    padding: 0.2em 0;
    /* text-align: right; */
}
.h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 32px;
    font-style: normal;
    color: var(--raisin-black-base);
    grid-column: 6 / 12;
    /* text-align: right; */
    white-space: nowrap;
}
.hook {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--raisin-black-base);
    padding: 0.75em 0;
    line-height: 1.125em;
}
.landing {
    background-color: hsla(var(--champagne-pink), 0.34);
    backdrop-filter: blur(15px);
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 4em;
    /* width: 100%; */
    /* height: 800px; */
    display: grid;
    /* border: 5px solid hsla(var(--champagne-pink),0.3); */
    grid-template-columns: subgrid;
    border-radius: 45px;
    align-items: flex-start;
    justify-content: space-between;
    grid-column: 1/ 13;
    text-align: end;
    /* box-shadow: 0 0 20px 10px hsla(var(--ultra-violet-base),0.6); */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.subHeader {
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    border: 1px solid rgba(255, 255, 255, 0.18); 
    background-color: hsla(var(--champagne-pink), 0.34);
    backdrop-filter: blur(7px);
    grid-column: 1/13;
    border-radius: 45px;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    row-gap: 20px;
}
.subHeader > span{
    font-size: 42px;
    grid-column: 1/ 13;
    padding:2em;
    text-align: center;
}
.landingText {
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* height: 100%; */
    align-content: flex-end;
    text-align: left;
    grid-column: 8/12;
}
.landingImage {
    grid-column: 2/6;
    grid-row: 1/3;
    max-width: 450px;
    height: 100%;
    
}
.image {
    grid-column: 2/6;
    grid-row: 1/3;
    border-radius: 50%;
    background-color: hsla(var(--champagne-pink), 0.59);
    /* background-image: url("/pfp_1.webp"); */
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
    
}

.spacer {
    width: 100%;
    height: 200px;
    padding-bottom: 200px;
}
.bioCta{
    padding: 2em 0;
    display: flex;
    flex-direction: row;
}
.ctaContainer {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.cta1 {
    grid-column: 8 / 10;
    background-color: hsla(30, 59%, 93%, 1);
}
.cta2 {
    background-color: hsla(24, 56%, 84%, 1);
    grid-column: 10 / 12;
}
.cta {
    text-align: center;
    /* text-wrap: nowrap; */
    padding: 1em;
    /* background-color: hsla(var(--champagne-pink), 0.59); */
    border-radius: 15px;
    box-shadow: 0 4px 16px 0 hsla(var(--tropical-indigo), 0.7);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.four {
    grid-column: 1 / -1;
    height: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.bold {
    font-weight: 700;
}
@media (max-width: 1024px) {
        /* .h1, .h2 {

        grid-column: 1/9;
        grid-row:2;
    } */
    .landingText {
        grid-column: 7/12;
    }
    .landingImage {
        grid-column: 1/7;
    }
    .cta1 {
        grid-column: 7 / 9;
    }
    .cta2{
        grid-column: 9 / 11;
    }
}
@media (max-width:768px) {
    .landingImage{
        max-width: 300px;
        max-height: 300px;
        grid-column: 4/8;
    }
    .landingText {
        grid-row:3;
        grid-column: span 12;
        margin-bottom: 50px;
    }
    .cta1, .cta2{
        grid-row: 4;  
    }
    .cta1 {
        grid-column: 3 / 6;

    }
    .cta2{
        grid-column: 6 / 9;
    }

}
