body, html {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f0f0;
}
.button {
	border: 1px solid #000;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	border-radius: 0.25rem;
}

.container {
	text-align: center;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#score, #time {
	font-size: 24px;
	margin-bottom: 10px;
}
  
#gameCanvas {
	border: 2px solid #000;
}

.info-panel {
	margin-top: 20px;
}
  
#snakeCanvas {
	border: black;
	border-style: solid;
}	